.recommended-friends {
  margin: 25px 0px;
  padding: 25px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  margin: 30px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: var(--hotizontal-space);
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post:nth-child(4) {
  /*open-post의 부모 .main-screen 의 4번째 child element */
  border-bottom: var(--main-border);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}
.open-post__hashtags {
  text-transform: uppercase; /* 모든 문자 대문자로 만들기 */
  font-weight: 300;
  opacity: 0.6;
}
.open-post__members {
  margin: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__members-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 1px;
  height: 10px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
.open-post__members-status {
  color: #ffb0e0;
}

.open-post__photo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.open-post__photo {
  position: relative;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5); /* 하트 박스 색 투명도 */
  font-weight: 400;
  color: white; /* 하트 글자 색 */
  padding: 5px;
  border-radius: 20px;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.open-post__heart-count span {
  margin-left: 3px;
}
