.user-component_k {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chats__time {
  color: lightgray;
}

.chats__notification {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 15px; /* notification 모양을 원형으로 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
  margin-top: 8px;
  margin-left: 20px;
}
